# Dependencies
node_modules/

# Production Build Output (packaged apps)
build/
dist/
*.zip
*.exe
*.blockmap

# User Private Configuration & Tokens
config.json

# Logs & Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
